extends layout

include mixins/_breadcrumb
include mixins/_modelCard
include mixins/_emptyModule

block content
    .layout-no-sidebar
        section.layout-sidebar__content
            .courses
                h1= title
                .grid-list
                    if models.length
                        each model in models
                            .grid-list__item
                                +modelCard(model)
                    else
                        +emptyModule()

